<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>
                <a href="/index.html" class="title">Board Project</a>
            </h3>
            <p>
                <a href="../user/info.html" class="info">홍길동</a>님 반갑습니다.
                <a href="../user/login.html">[로그아웃]</a>
            </p>
        </header>
        <main id="article">
            <section class="list">
                <nav>
                    <h1>
                        전체 글목록
                        <span>1012건</span>
                    </h1>
                    <form action="search.html">
                        <select name="searchType">
                    		<option value="title">제목</option>
                    		<option value="content">내용</option>
                    		<option value="writer">글쓴이</option>
                    	</select>
                        <input type="text" name="keyword" placeholder="검색 키워드 입력">
                        <input type="submit" value="검색">
                    </form>
                </nav>
                                
                <table border="0">                    
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>날짜</th>
                        <th>조회</th>
                    </tr>                    
                    <tr>
                        <td>1</td>
                        <td><a href="./view.html">테스트 제목입니다.[3]</a></td>
                        <td>길동이</td>
                        <td>20-05-12</td>
                        <td>12</td>
                    </tr>
                </table>

                <div class="page">
                    <a href="#" class="prev">이전</a>
                    <a href="#" class="num current">1</a>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a href="#" class="next">다음</a>
                </div>

                <a href="./write.html" class="btn btnWrite">글쓰기</a>
                
            </section>
        </main>
        <footer>
            <p>
                <span class="copyright">Copyrightⓒ 김철학(개발에반하다.)</span>
                <span class="version">v1.0.1</span>
            </p>
        </footer>
    </div>    
</body>
</html>